@{
    ViewBag.Title = "Free Trial";
}

<div class="jumbotron">
    <div class="container">
        <h2><br />Free Trial</h2>
        
        <p>Please complete the form below and one of our solution experts will follow up with you to discuss your needs and schedule training for your free test drive.</p>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <iframe id="embedded" src="http://app.accelrys.com/0358_11m9_global_web_conturtrialTE_eval_requested.html?cmp=0358_11m9_global_web_contur-trial-TE&amp;prd=Contur%20ELN" width="100%" height="700px" frameborder="0" scrolling="no"></iframe>
        </div>
    </div>
</div>