@{
    ViewBag.Title = "Free Trial";
}

<div class="jumbotron">
    <div class="container">
        <h2><br />&nbsp;</h2>
        <p>Please complete the form below and one of our solution experts will follow up with you to discuss your needs and schedule training for your free test drive.</p>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="marketto-container">
                <iframe id="embedded" src="http://app.accelrys.com/0358_11m9_global_web_conturtrialTE_eval_requested.html?cmp=0358_11m9_global_web_contur-trial-TE&amp;prd=Contur%20ELN" style="background-position: center;background-repeat: no-repeat;background-image:url(/Content/Images/ajax-loader.gif)" width="95%" height="700px" frameborder="0" scrolling="no"></iframe>
            </div>
        </div>
        <div class="col-md-6" style="padding-top: 60px">
            <img class="featurette-image img-responsive" src="/Content/Images/screen_team.jpg" alt="Teamwork">
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 text-center">
            By requesting a team evaluation and submitting your personal details above, you are agreeing to the following <a href="http://accelrys.com/about/contact/evaluation-license-agreement-accelrys-notebook-09-2014.pdf">terms of use</a>.
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 text-center">
         &nbsp;</div>
    </div>
</div>

