@{
    ViewBag.Title = "Security";
}

<div class="jumbotron">
    <div class="container">
        <h2><br />&nbsp;</h2>
        <p>Accelrys Notebook Cloud is hosted in a state-of-the-art SAS 70, Type II compliant data center, using some of the most advanced Internet technology to keep your data safe and protected at all times.</p>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>Security</h2>
            <p>
                Multiple levels of security to ensure only data center Operations Engineers are physically allowed near routers, switches and servers.
                Public access to each data center is strictly forbidden.
            </p><p>
                    CCTV surveillance of the entire data center building, including entrances and the data center itself, 24x7x365.</p><p>
                                                                                                                                           On-site security personnel monitor the data center 24 hours a day, 7 days a week
                                                                                                                                           Access to the data center is restricted to those who hold a pass card.
                                                                                                                                       </p><p>
                                                                                                                                               Biometric hand scanners are used to restrict access to the data center to only level 3 Engineers.
                                                                                                                                           </p><p>
                                                                                                                                                   All employees are given a thorough background check before they are hired and all personnel go through a rigorous training process before they begin interacting with customers and their systems.
                                                                                                                                               </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h2>Environmental Controls</h2>
            <p>
                The HVAC (Heating Ventilation Air Conditioning) systems are n + 1 redundant to ensure that even in the event of an entire HVAC failure there is a duplicate system on standby to take over.
            
                    All air is circulated and filtered every 90 seconds to remove dust and contaminants.
                
                        An advanced fire-suppression system is in place to prevent any fire from spreading – in the unlikely event that one could start.
                    
                            All cables to servers and routing equipment are securely tied down and cable racks suspended from the ceiling provide dual routes for all cables.
                        </p>
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-12">
            <h2>Power Systems</h2>
            <p>
                The power systems have been designed to run uninterrupted even in the unlikely event of a total power outage.
                All servers are fed with conditioned UPS (Uninterruptible Power Supply) power that will run if utility power fails.
                The UPS power subsystem is N + 1 redundant with instantaneous failover in the case that primary UPS fails.
            </p><p>
                In the event of an extended power outage, on-site diesel generators can run indefinitely.
                Generators are regularly tested to ensure functionality in the event of an emergency.
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h2>Zero Downtime Network</h2>
            <p>
                The network is engineered from the ground up to accommodate the high availability demands of our customers.
                Our Cisco-powered Zero-downtime network™ with unique self-healing attributes is based on multiple bandwidth providers and BGP4 (Border Gateway Protocol) for best case routing. This ensures the data reaches the end user in the fastest, most efficient manner possible.
            </p><p>
                    Peering agreements with local ISPs allow the fast delivery of packets when possible.
                </p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h2>Certifications</h2>
            <p>
                The data center facilities are Quality assured with ISO 9001:2000 accreditation.
            </p><p>
                The data center operations and procedures are SAS 70 Type II certified making them some of the most secure in the world.
            </p>
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-12">
            <h2>Network Engineers</h2>
            <p>
                Certified networking and security team with years of experience in managing and monitoring enterprise level networks.
            </p><p>
                Certified Network Engineers are trained to the highest standards to ensure that we are able to meet our 100% infrastructure availability guarantee.
            </p>
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-12">
            <h2>Data Backup</h2>
            <p>
                Full back-up taken every night.
            </p><p>
                Encrypted back-ups are stored in an off-site facility.
            </p>
        </div>
    </div>
</div>