.navbar-brand {
    padding-top: 6px;
}

.featurette-heading {
    margin-top: 20px;
}


.featurette-image {
    width: 100%;
}

.jumbotron {
    background-color: #0789CF;
    color: white;
}

.pricingtable {
   
color: white;
}

.pricingcell {
    border-left: 1px solid  #2E75B6;
    border-bottom: 1px solid   #2E75B6;
    padding-bottom: 15px;
    padding-top: 15px;
    background-color: #5b9bd7;
}


@media(min-width:400px) {

    .desktop-only {
        display:block !important;
    }

    .mobile-only {
        display:none !important;
    }
}

@media(max-width:400px) {
    .pricingtable {
        font-size: 9px;
}
    .pricingcell {
        padding-left: 0;
        padding-right: 0;
    }

    .mobile-only {
        display:block !important;
    }
 
    .desktop-only {
        display:none !important;
    }

    h1 {
        font-size: 24px;
    }

    .popular .pricingcell{
    background-color: #2E75B6;
    border-bottom: 1px solid   #5B9BD7;
}
}



.popular .pricingcell{
    background-color: #2E75B6;
    border-bottom: 1px solid   #5B9BD7;
}

.popular {
    background-color: #2E75B6;
}

.border-end {
    border-top: 1px solid  #2E75B6;
    
}