.navbar-brand {
    padding-top: 6px;
}

.featurette-heading {
    margin-top: 20px;
}


.featurette-image {
    width: 100%;
}

.jumbotron {
    background-color: #0789CF;
    color: white;
}

.pricingtable {
   
color: white;
}

.pricingcell {
    border-left: 1px solid  #2E75B6;
    border-bottom: 1px solid   #2E75B6;
    padding-bottom: 15px;
    padding-top: 15px;
    background-color: #5b9bd7;
}

.popular .pricingcell{
    background-color: #2E75B6;
    border-bottom: 1px solid   #5B9BD7;
}

.popular {
    background-color: #2E75B6;
}




.border-end {
    border-top: 1px solid  #2E75B6;
    
}